{% extends 'adminLayout.html.twig' %}

{% block content%}

    <div class="col-12 mt-3 text-center pl-md-5 pl-sm-2 col-sm-6 mx-auto">
        <h2>Articles</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-3 mb-5">
                <a href="../public/index.php?route=addPost" class="add-post">
                    <i  class="mr-2 fas fa-plus-circle fa-lg" ></i>
                    Ajouter un article
                </a>
            </div>
            <hr/>

            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in list %}

                    <div class="post-preview">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h4 class="post-subtitle">
                            {{ post.chapo }}
                        </h4>
                        <p class="post-meta">Ecrit par {{ post.author }} le {{ post.dateCreation|date('d/m/Y') }} {% if post.dateModif is not empty %} Modifié le {{ post.dateModif|date('d/m/Y') }} {% endif %} </p>
                        <div class="text-right">
                            <a href="../public/index.php?route=editPost&amp;postId={{ post.id }}" class="mr-3 edit-post">Modifier</a>
                            <button type="button" data-toggle="modal" data-target="{{ '#del-' ~ post.id }}" class="del-post">Supprimer</button>
                        </div>
                        <form method="post" action="../public/index.php?route=adminPosts&amp;postId={{ post.id }}">
                            <div class="modal fade" id="del-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Article: {{ post.title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes vous sûre de vouloir supprimer cet article?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" name="edit" value="{{ 'edit-' ~ post.id }}" class="btn btn-success" data-dismiss="modal">Non</button>
                                            <button value="delete" name="delete" type="submit" class=" btn btn-danger del-btn">Oui</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}