{% extends 'layout.html.twig' %}
{% block jumbotron %}
    <header class="masthead" id="homePic" alt='Ordinateur avec code'>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Corentin Borges</h1>
                        <span class="subheading">Votre développeur de site professionnel</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    {% if session.get('confirm') %}
        <div class="alert alert-success alert-dismissible fade show container col-10 col-lg-5 text-center" role="alert">
            <strong>{{ session.show('confirm') }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if session.get('errors') %}
        <div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
            <p><strong>Erreurs:</strong></p>
            {% for error in session.show('errors') %}
                <ul>
                    <li> {{error}} </li>
                </ul>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class='container text-center d-lg-block d-none col-lg-4 col-xl-3 home-sides' >
                <a href="/projet_5/public/index.php?route=CV"  class='CV-link'>Curriruclum Vitae</a>
                <div class="container ml-3">
                    <div class="row mt-4">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="mailto:cb.corentinborges@gmail.com" target='_blanck'>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/corentin-borges/" target='_blanck'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/CorentinBorges" target='_blanck'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-md-5 pl-sm-5 col-md-10 mx-auto">
                <h2 class="text-center">Me contacter</h2>

                <form name="sentMessage" id="contactForm" method='post' action="/projet_5/public/">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Nom</label>
                            <input type="text"
                                {% if session.get('name') %}
                                    value='{{ session.show('name') }}'
                                    {% if session.get('invalidName') %}
                                        class="form-control 1 {{ session.show('invalidName') }}"
                                    {% else %}
                                        class="form-control 1"
                                        {% endif %}
                                {% endif %}
                                   name='name' placeholder="Nom" id="name">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group ">
                        <div class="form-group floating-label-form-group controls">
                            <label>Prénom</label>
                            <input type="text" name='firstName'
                                    {% if session.get('firstName') %}
                                        value='{{ session.show('firstName') }}'
                                        {% if session.get('invalidFirstName') %}
                                            class="form-control 2 {{ session.show('invalidFirstName') }}"
                                        {% else %}
                                            class="form-control 2"
                                        {% endif %}
                                    {% endif %}
                                   placeholder="Prénom" id="first-name" >
                            <p></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>objet</label>
                            <input type="text" name="obj"
                                    {% if session.get('obj') %}
                                        value='{{ session.show('obj') }}'
                                        {% if session.get('invalidObj') %}
                                            class="form-control 3 {{ session.show('invalidObj') }}-danger"
                                        {% else %}
                                            class="form-control 3"
                                        {% endif %}
                                    {% endif %}
                                    placeholder="Objet" id="obj" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Mail</label>
                            <input type="email"
                                    {% if session.get('mail') %}
                                        value='{{ session.show('mail') }}'
                                        {% if session.get('invalidMail') %}
                                            class="form-control 4 {{ session.show('invalidMail') }}"
                                        {% else %}
                                            class="form-control 4"
                                        {% endif %}
                                    {% endif %}
                                   name='mail' placeholder="Mail" id="email" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group ">
                        <div class="form-group floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="4"  maxlength="250" name='message'  placeholder="Message" id="message"
                                {% if session.get('invalidMessage') %}
                                    class="form-control 5 {{ session.show('invalidMessage') }}"
                                {% else %}
                                    class="form-control 5"
                                {% endif %}>{% if session.get('message') %}{{ session.show('message') }}{% endif %}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group col-5 col-md-12 mx-auto" >
                        <button type="submit" value="submit" name='submitMail' class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class='container text-center mr-sm-2 mr-0 ml-3 ml-sm-0 d-block d-lg-none home-sides' >
                <a href="/projet_5/public/index.php?route=CV" class='CV-link '  >Curriruclum Vitae</a>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>


{% endblock %}