{% extends 'layout.html.twig' %}

{% block jumbotron %}

    <header class="masthead " id="postsPic" alt='Machine à écrire' >
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Les Posts</h1>

                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in list %}
                    <div class="post-preview">
                        <a href="/projet_5/public/index.php?route=post&amp;postId={{  post.id  }}" >
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.chapo }}
                            </h3>
                        </a>
                        <p class="post-meta">Ecrit par {{ post.author }} le {{ post.dateCreation|date('d/m/Y')}} {% if post.dateModif is not null %} Modifié le {{ post.dateModif|date('d/m/Y') }} {% endif %}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
