{% extends 'adminLayout.html.twig' %}

{% block content%}
    <div class="col-12 mt-3 text-center pl-md-5 pl-sm-2 col-sm-6 mx-auto">
        {% if addPost is defined %}
            <h2>Nouvel article</h2>
        {% elseif editPost is defined %}
            <h2>Modifier l'article</h2>
        {% endif %}
    </div>
    {% if  errors %}
        <div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
            {% for error in errors %}
                <ul>
                    <li> {{error}} </li>
                </ul>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-3">
                {% if addPost is defined %}
                    <form method="post" action="/projet_5/public/index.php?route=addPost">
                {% endif %}
                {% if editPost is defined %}
                    <form method="post" action="/projet_5/public/index.php?route=editPost&postId={{ id }}">
                {% endif %}
                    <div class="form-group">
                        <label for="title">Titre</label>
                        <textarea class="form-control" rows="1"  maxlength="150" id="title" type="textarea" name="title" {#required#}>{% if title %} {{ title }} {% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="chapo">Chapô</label>
                        <textarea class="form-control" rows="01" maxlength="150" id="chapo" name="chapo" {#required#}>{% if chapo %} {{ chapo }} {% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">Article</label>
                        <textarea class="form-control" rows="9" maxlength="30000" id="content" name="content" {#required#}>{% if content %} {{ content }} {% endif %}</textarea>
                    </div>
                    {% if addPost is defined %}
                        <div class="form-group text-center">
                            <input type="submit" name="submitPost" class="btn btn-primary" value="Envoyer"/>
                        </div>
                    {% endif %}
                    {% if editPost is defined %}
                        <div class="form-group text-center">
                            <input type="submit" name="editPost" class="btn btn-primary" value="Modifier"/>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}