{% extends 'layout.html.twig' %}

{% block jumbotron %}

    <header class="masthead postsPic"   alt='Machine à écrire' id="postPic">
        <div class="overlay"></div>
        <div class="container">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>{{post.title}}</h2>
                    <p>{{post.chapo}}</p>
                    <p>Auteur: {{post.author}} <i>Ecrit le: {{post.dateCreation|date('d/m/Y')}} {% if post.dateModif is not null %} Modifié le {{ post.dateModif|date('d/m/Y') }} {% endif %}</i></p>
                </div>
            </div>
        </div>
    </header>

{% endblock %}


{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{post.content}}
                </div>
            </div>
        </div>
    </article>


    {% if session.get('pseudo') %}
        <hr>
        <div class="flex-column mx-auto text-center">
            <form method='post' action='/projet_5/public/index.php?route=post&postId={{post.id}}'>
                <label for='comment' id="comment-label" >Commentaire:<br/></label>
                <textarea  maxlength="250" name="comment" id='comment' required></textarea>
                <div class="form-group col-5 col-md-12 mt-3 mx-auto" >
                    <button type="submit" name='submitComment' value="'submit" class="btn btn-primary" id="send">Envoyer</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if session.get('commentSent') %}
        <div class="modal box-comment-bg fade show pt-5  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" style="">
            <div class="modal-dialog" role="document">
                <div class="modal-content confirm-comment">

                    <button type="button" class="close text-right mr-3" id='confirm-cross-btn' data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class='confirm-cross w-100'>&times;</span>
                    </button>

                    <div class="modal-body ">
                        <p>{{ session.show('commentSent') }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if session.get('errors') %}
        <div class="modal box-comment-bg fade show pt-5  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" style="display: block; padding-right: 19px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content error-comment">

                    <button type="button" class="close text-right mr-3" id='confirm-cross-btn' data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class='confirm-cross w-100'>&times;</span>
                    </button>

                    <div class="modal-body ml-3">
                        {% for error in session.show('errors')%}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if comments is defined %}
        <hr>
        <div class="container">
            <p class="mb-2">Commentaires:</p>
            {%  for comment in comments %}
                <div class="border border-dark container">
                    <p>{{comment.author}} <i>{{ comment.date|date('d/m/Y') }}</i> </p>
                    <p>{{comment.content}}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}