{% extends 'layout.html.twig' %}

{% block content %}
    {% if session.get('errors') %}
        <div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">

            {% for error in session.get('errors') %}
                <ul>
                    <li> {{ error }} </li>
                </ul>
            {% endfor %}
            {{ session.remove('errors') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="col-12  pl-md-5 pl-sm-2 col-sm-6 mx-auto">
        <h2 class="text-center">Inscription</h2>

        <div id="CGU-container" class='CGU' style="display: none">
            <object type="application/pdf" id='CV' data="../public/docs/CGU.pdf" ></object>
        </div>
        <form name="sentMessage" id="contactForm" method='post' action="../public/index.php?route=signIn">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="name">Nom</label>
                    <input type="text" name="name"
                        {% if session.get('name') %}
                            value='{{ session.show('name') }}'
                            {% if session.get('invalidName') %}
                                class="form-control 1 {{ session.show('invalidName') }}"
                            {% else %}
                                class="form-control 1"
                            {% endif %}
                        {% endif %}
                        placeholder="Nom" id="name" required>
                    <p></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="firstName">Prénom</label>
                    <input type="text" name='firstName'
                    {% if session.get('firstName') %}
                        value='{{ session.show('firstName') }}'
                        {% if session.get('invalidFirstName') %}
                            class="form-control 2 {{ session.show('invalidFirstName') }}"
                        {% else %}
                            class="form-control 2"
                        {% endif %}
                    {% endif %}
                    placeholder="Prénom" id="firstName" required>
                    <p></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="pseudo">Nom d'utilisateur</label>
                    <input type="text" name="pseudo"
                    {% if session.get('alias') %}
                        value='{{ session.show('alias') }}'
                        {% if session.get('invalidPseudo') %}
                            class="form-control 3 {{ session.show('invalidPseudo') }}"
                        {% else %}
                            class="form-control 3"
                        {% endif %}
                    {% endif %}
                    placeholder="Nom d'utilisateur" id="pseudo" required>
                    <p></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="mail">Mail</label>
                    <input type="email" name="mail" id="mail"
                    {% if session.get('mail') %}
                        value='{{ session.show('mail') }}'
                            {% if session.get('invalidMail') %}
                                class="form-control 4  {{ session.show('invalidMail') }}"
                            {% else %}
                                class="form-control 4"
                            {% endif %}
                    {% endif %}
                     placeholder="Mail" id="email" required>
                    <p></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="pass">Mot de passe</label>
                    <input type="password" name='pass'
                    {% if session.get('pass') %}
                        value='{{ session.show('pass') }}'
                            {% if session.get('invalidPass') %}
                               class="form-control 5  {{ session.show('invalidPass') }}"
                            {% else %}
                               class="form-control 5"
                            {% endif %}
                    {% endif %}
                    placeholder="Mot de passe" id="pass" required>
                    <p></p>
                </div>
                <small class="help-block text-secondary">Le mot de passe doit comporter au moins 8 caractères, au moins une majuscule, une minuscule, un signe de ponctuation et un chiffre. </small>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="confirmPass">Confirmation du mot de passe</label>
                    <input type="password" name='confirmPass'
                    {% if session.get('confirmPass') %}
                           value='{{ session.show('confirmPass') }}'
                            {% if session.get('invalidConfirm') %}
                               class="form-control 6  {{ session.show('invalidConfirm') }}"
                            {% else %}
                                class="form-control 6"
                            {% endif %}
                    {% endif %}
                    placeholder="Confirmation du mot de passe" id="confirmPass" required>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input mt-2 "  name='CGU' value="ok"  id="conditions" >
                <label for='conditions'  class="form-check-label  ml-2"> J'accepte les  <span class=" CGU-btn ">conditions générales d'utilisation</span></label>
                <p class="help-block text-danger"></p>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group col-5 col-md-12 mx-auto" >
                <button type="submit" name='submitLog' class="btn btn-primary" value="submit" id="sendMessageButton">Envoyer</button>
            </div>
        </form>

    </div>
{% endblock %}