{% extends 'layout.html.twig' %}

{% block content %}
    {% if  errors %}
        <div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">

            {% for error in errors %}
                <ul>
                    <li> {{error}} </li>
                </ul>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="col-12  pl-md-5 pl-sm-2 col-sm-6 mx-auto">
        <h2 class="text-center">Inscription</h2>

        <div id="CGU-container" class='CGU' style="display: none">
            <object type="application/pdf" id='CV' data="Web/docs/CGU.pdf" ></object>
        </div>
        <form name="sentMessage" id="contactForm" method='post' action="/projet_5/public/index.php?route=signIn">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Nom</label>
                    <input type="text" class="form-control 1 {{invalidName}}" name='name' {% if name %} value='{{name}}' {% endif %} placeholder="Nom" id="name" required data-validation-required-message="veuillez entrer un nom">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Prénom</label>
                    <input type="text" class="form-control 2 {{invalidFirstName}}" name='firstName' {% if firstName %} value='{{firstName}}' {% endif %} placeholder="Prénom" id="firstName" required data-validation-required-message="Veuillez indiquer un prénom">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Nom d'utilisateur</label>
                    <input type="text" class="form-control 3 {{invalidPseudo}}" {% if alias %} value='{{alias}}' {% endif %} name='pseudo' placeholder="Nom d'utilisateur" id="pseudo" required data-validation-required-message="Veuillez indiquer un bom d'utilisateur">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Mail</label>
                    <input type="email" class="form-control 4 {{invalidMail}}" {% if mail %} value='{{mail}}' {% endif %} name='mail' placeholder="Mail" id="email" required data-validation-required-message="Veuillez indiquer votre adresse de messagerie">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control 5 {{invalidPass}}" {% if pass %} value='{{pass}}' {% endif %} name='pass' placeholder="Mot de passe" id="pass" required data-validation-required-message="Veuillez indiquer votre mot de passe">
                </div>
                <small class="help-block text-secondary">Le mot de passe doit comporter au moins 8 caractères, au moins une majuscule, une minuscule, un signe de ponctuation et un chiffre. </small>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Confirmation du mot de passe</label>
                    <input type="password" class="form-control 5 {{invalidConfirm}}" {% if confirmPass %} value='{{confirmPass}}' {% endif %} name='confirmPass' placeholder="Confirmation mot de passe" id="confirmPass" required data-validation-required-message="Veuillez confirmer le mot de passe">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input mt-2 "  name='CGU' value="ok"  id="conditions" >
                <label for='conditions'  class="form-check-label  ml-2"> J'accepte les  <span class=" CGU-btn ">conditions générales d'utilisation</span></label>
                <p class="help-block text-danger"></p>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group col-5 col-md-12 mx-auto" >
                <button type="submit" name='submitLog' class="btn btn-primary" value="submit" id="sendMessageButton">Envoyer</button>
            </div>
        </form>

    </div>
{% endblock %}